.date {
    float:right;
    font-style: italic;
    font-size:large;
    font-weight: lighter;
    }
.title {
    font-weight: bold;
    font-size:x-large;
    }
.content {
    font-size:large;
    color:indigo;
    text-align:justify;
    }